<nav class="navbar navbar-expand-md top-navbar d-print-none navbar-default">
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img src="https://www.reddygo.com.au/res/image/logochange.png" height="32" alt="{{title}}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-navicon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav flex-row">
        <li class="nav-item" *ngFor="let route of routes">
          <a class="nav-item nav-link" routerLinkActive="disabled" [routerLink]="route.url">{{route.linkName}}</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<div class="outer-wrapper">
  <div class="row">
    <router-outlet class=""></router-outlet>
  </div>
</div>